{% extends 'main.html' %}

{% block content %}

	<section class = 'register-container'>
		<div id="register-text">
			<p>Войти  <img src = '../../static/svg/arrow.svg'></p>

			<div id = 'auth-text'>
				<h1>Нет аккаунта?</h1>
				<a href = 'register'>Зарегистрироваться</a>
			</div>
		</div>

		<form method="POST" action="" id = 'form_login'>
		{% csrf_token %}
			<div id="reg-data-container">
				<div id = 'register-window'>
					{% for message in messages %}
						<a style = "color: #34976D; font-size: 24px; margin: auto;">{{message}}</a>
						{% empty %}
					{% endfor %}
					<input type="email" name="username" placeholder="Почтовый ящик">
					<input type="password" name="password" placeholder="Пароль">
				</div>

				<div id="reg-button">
					<a href = '#' onclick="document.getElementById('form_login').submit()">Войти</a>
				</div>
			</div>
		</form>
	</section>

{% endblock %}