{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Google Fonts -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
	<link rel="stylesheet" href="{% static 'css/main.css' %}" type="text/css" >
	<title>Главная</title>
</head>
<body>
	{% include 'navbar.html' %}

	{% block content %}

	{% endblock %}


</body>
</html>